---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<BaseLayout>
  <main>
    <Hero />
  </main>
  <Footer />
</BaseLayout>
